extends base

block content
    // Breadcrumb Section Begin
    .breacrumb-section(style='padding-top:100px;')
        .container(style='margin-top:0px;')
            .row
                .col-lg-12
                    .breadcrumb-text
                        a(href='shop.php')
                            i(class='icon_bag_alt' style='width:20px')
                            | CartPage
    // Shopping Cart Section Begin
    section.checkout-section.spad
        .container
            .checkout-form
                .row
                    .col-lg-6(style='overflow: auto;')
                        .row
                            .form-check(style="width:100%;")
                                .card-body
                                        h5.card-title=`${user.name}`
                                each address in user.address
                                    input.form-check-input(style='width: 30px;margin-top:10px;margin-left: -10px;height:30px;border: 2px solid #ebebeb;margin-bottom: 25px;padding-left: 15px;' type='radio' name='addressRadio' id=`${address._id}` value=`${address._id}` checked='')
                                    label.form-check-label(for='exampleRadios1' style="width:95%;margin-left:30px;")
                                        h5.card-header Address 
                                            p.card-text=`${address .flat}`
                                            p.card-text=`${address .city}`
                                            p.card-text=`${address .state}`
                                            p.card-text=`${address .pincode}`
                                p(style="font-weight:bold;font-size:18px;").card-text(id='phone')="PHONE NO : "+`${user.phoneNumber}`
                            br
                            br
                    
                            button.btn.btn--green.span-all-rows#addPreference(style='margin-top:50px;background:black;text-transform:uppercase;border-radius:50px;width:50%;color:white') Add Preference
                            #result(style='display:none' )
                                form.form.form--addAddress
                                    input#userId(type='hidden' name='userId' value=`${user._id}`)
                                    .group-input
                                    label(for='zip') Pincode*
                                    input#pincode(type='text')
                                    .showFeedBack
                                    .group-input
                                    label(for='zip') City*
                                    input#city(type='text')
                                    .showFeedBack
                                    .group-input
                                    label(for='city') State*
                                    input#state(type='text' autocomplete='off')
                                    .showFeedBack
                                    .group-input
                                    label(for='city') Locality / Area / Street *
                                    input#locality(type='text' autocomplete='off')
                                    .group-input
                                    label(for='city') Flat no / Building Name*
                                    input#flat(type='text' autocomplete='off')
                                    .group-input
                                    label(for='city') Landmark (optional)
                                    input#landmark(type='text' autocomplete='off')
                                    button.btn.site-btn Add Address 
                    br
                    .col-lg-6
                        -let totalAmount=0
                        each item in cartItems
                            .card.p-4(class='display-card')
                                .row(style="margin-left:60px;")
                                    each c in item.productId.color
                                        if new String(c._id).valueOf()==new String(item.colorId).valueOf()
                                            div(class='col-md-2 col-11 mx-auto  d-flex justify-content-center align-items-center  product_img')
                                                a(href=`/product/${c.slug}/${c._id}`)
                                                img(src=`/img/products/${c.imageCover}` style='max-width: 140px; margin-right: 50px; margin-left: 20px' alt=c.name)
                                            .col-md-8.col-11.mx-auto.px-4.mt-2.justify-content-center
                                                .row
                                                    // product name
                                                    .col-8.card-title
                                                        h3(class='mb-4 product_name' style=' color: black;font-size: 1.4rem;text-transform: capitalize;font-weight: 500;')=c.name
                                                        p.mb-2=`COLOR: ${c.productColor}`
                                                        p.mb-2=`CATEGORY: ${item.productId.category}`
                                                        p.mb-3=`SIZE: ${item.size}`
                                                        p.mb-4=`QUANTITY: ${item.quantity}`
                                                        p.mb-5=`PRICE: ${item.price}`
                                                        -totalAmount=totalAmount+item.price
                                                
                                                    
                                
                        
                    .checkout-content(style="text-align:center;margin-top:50px;")
                        .place-order
                            .order-total(style="width: 50%;padding:50px;margin-left:270px;")
                                h4 Your Order Summary 
                                p(style="display:inline-block;font-weight:bold;font-size:30px;text-align:left;")= "TOTAL AMOUNT"
                                p(style="display:inline-block;padding-left:100px;font-size:30px;text-align:right;")=`${totalAmount}`
                    .order-btn(style="text-align:center;")
                        button.site-btn#place-order-btn(data-user-id=`${user._id}`) Place Order
    //- Shopping Cart Section End
    #myModal.modal
        .modal-content(style='max-width: 400px;')
            span.close &times;
            p(style=' font-size: 18px;color: #636363;font-weight: 400;line-height: 26px;margin: 0 0 15px 0;margin-left: 88px;') Please log in before you check out
            a(href='./login.php')
            button.site-btn.login-btn(style='margin-left: 147px;') Sign In