extends base

block content 
    //- Header Section Begin
    if user.role=='admin'
        .container3
        .row
            .col-4
            //-
                <div class="header-top">
                <div class="container">
                <div class="ht-left">
                <div class="mail-service">
                <i class=" fa fa-envelope"></i>
                ashionfoundation@gmail.com
                </div>
                <div class="phone-service">
                <i class=" fa fa-phone"></i>
                6302585792
                </div>
                </div>
                <div class="ht-right">
                <a href="./login.php" class="login-panel"><i class="fa fa-user"></i>Login</a>
                </div>
                </div>
                </div>
            .nav-item
                .canter1
                .container
                    <div class="nav-depart">
                    <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                    <li class="active"><a href="#">Women’s Clothing</a></li>
                    <li><a href="#">Men’s Clothing</a></li>
                    <li><a href="#">Underwear</a></li>
                    <li><a href="#">Kid's Clothing</a></li>
                    <li><a href="#">Brand Fashion</a></li>
                    <li><a href="#">Accessories/Shoes</a></li>
                    <li><a href="#">Luxury Brands</a></li>
                    <li><a href="#">Brand Outdoor Apparel</a></li>
                    </ul>
                    </div>
                    </div>
                    .position-fixed(style='float:right; margin-right:50px; position: -webkit-sticky; position:sticky;')
                    nav.full-height(style='width:246px;  background:black;position:relative; height: 100vh;')
                        ul
                        .logo(style='margin-left:10px;')
                            a(href='./index')
                            img(0='' src='img/font1.png' alt='' style='margin-top:30px;' padding:0='')
                        li(style='list-style-type: none; margin-top: 20px; width:250px;')
                            a(href='customerDetails' style='text-decoration:none; color:white ;font-size:20px ') view customer details
                        li(style='list-style-type: none; margin-top: 20px; width:250px;')
                            a(href='addProduct' style='text-decoration:none; color:white ;font-size:20px ') Insert products
                        li(style='list-style-type: none; margin-top: 20px; width:250px;')
                            a(href='crud' style='text-decoration:none; color:white ;font-size:20px ') View Products
                        li(style='list-style-type: none; margin-top: 20px; width:250px;')
                            a(href='customerOrders' style='text-decoration:none; color:white ;font-size:20px ') View Orders
                        //-
                            <ul class="dropdown">
                            <li><a href="#">Men's</a></li>
                            <li><a href="#">Women's</a></li>
                            <li><a href="#">Kid's</a></li>
                            </ul>
                            </li>
                            <li class="active"><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                            <li><a href="#">Pages</a>
                            <ul class="dropdown">
                            <li><a href="./blog-details.html">Blog Details</a></li>
                            <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                            <li><a href="./check-out.html">Checkout</a></li>
                            <li><a href="./faq.html">Faq</a></li>
                            <li><a href="./register.php">Register</a></li>
                            <li><a href="./login.php">Login</a></li>
                    #mobile-menu-wrap
            .wrapper(style='padding:0px;max-width: 78%;margin-left: -154px;')
            h3 Products in Cart
            a(href='shop_cart.php')
                button.btn.btn-success(style='float: right;margin-top: -69px;') Add Product
            table.table.table-striped.table-dark
                col(style='width:10%')
                col(style='width:10%')
                col(style='width:10%')
                col(style='width:5%')
                col(style='width:10%')
                col(style='width:10%')
                col(style='width:5%')
                col(style='width:5%')
                thead
                tr
                    th(scope='col') Product Name
                    th(scope='col') Image
                    th(scope='col') Price
                    th(scope='col') Description
                    th(scope='col') Categories
                    th(scope='col') Color
                    th(scope='col') #
            each item in products
                table.table
                    col(style='width:10%')
                    col(style='width:10%')
                    col(style='width:20%')
                    col(style='width:5%')
                    col(style='width:20%')
                    col(style='width:10%')
                    col(style='width:5%')
                    col(style='width:5%')
                    tr
                    th.icon(scope='col' style='font-size: 15px;font-weight: lighter;')=`${item.name}` 
                    th(scope='col')
                        img(src=`/img/products/${item.color[0].imageCover}` style='max-width:100px;')
                    th(scope='col' style='font-size: 15px;font-weight: lighter;')=`${item.price}`  
                    th(scope='col' style='font-size: 15px;font-weight: lighter;')=`${item.description}`
                    th(scope='col' style='font-size: 15px;font-weight: lighter;')=`${item.category}` 
                    th(scope='col' style='font-size: 15px;font-weight: lighter;')  
                    th.icon(scope='col')
                        a.btn.btn-success(href=`./edit/${item._id}` style='cursor:pointer;') View
                        br
                        a.btn.btn-danger(href=`./addVariation/${item._id}` data-product-id=`${item._id}`  style='cursor:pointer;') Add Color Variation
            br
            br
            br
            br
    else 
        h2='No user'
