
extends base

block content 
    //- Header Section Begin
    if user.role=='admin'
        .container3
            .row(style="width:100%;")
                .col-4(style="margin-top:85px;")
                    .nav-item
                        .canter1
                            .container                                
                                .position-fixed(style='float:right;margin-left:-15px; margin-right:15px; position: -webkit-sticky; position:sticky;z-index:50')
                                    nav.full-height(style='width:246px;  background:black;position:relative; height: 100vh;')
                                        ul(style="margin-left:20px;")
                                            .logo(style='margin-left:10px;')
                                                a(href='./index')
                                                img(0='' src='img/font1.png' alt='' style='margin-top:30px;' padding:0='')
                                            li(style='list-style-type: none; margin-top: 20px; width:250px;')
                                                a(href='customerDetails' style='text-decoration:none; color:white ;font-size:20px ') view customer details
                                            li(style='list-style-type: none; margin-top: 20px; width:250px;')
                                                a(href='addProduct' style='text-decoration:none; color:white ;font-size:20px ') Insert products
                                            li(style='list-style-type: none; margin-top: 20px; width:250px;')
                                                a(href='crud' style='text-decoration:none; color:white ;font-size:20px ') View Products
                                            li(style='list-style-type: none; margin-top: 20px; width:250px;')
                                                a(href='customerOrders' style='text-decoration:none; color:white ;font-size:20px ') View Orders
                #mobile-menu-wrap(style="margin-top:40px;")
                    .wrapper(style='padding:0px;width:98%;margin-left: 280px;')
                        h3 Customer Details
                        table.table.table-striped.table-dark
                            col(style='width:20%')
                            col(style='width:20%')
                            col(style='width:20%')
                            col(style='width:40%')
                            thead
                                tr
                                    th(scope='col') User Name
                                    th(scope='col') Email
                                    th(scope='col') Phone Number
                                    th(scope='col') Address
                        each user in customers
                            if user.role!='admin'
                                table.table
                                    col(style='width:20%')
                                    col(style='width:20%')
                                    col(style='width:20%')
                                    col(style='width:40%')
                                    tr
                                    th.icon(scope='col' style='font-size: 15px;font-weight: lighter;')=`${user.name}` 
                                    th(scope='col' style='font-size: 15px;font-weight: lighter;')=`${user.email}`  
                                    th(scope='col' style='font-size: 15px;font-weight: lighter;')=`${user.phoneNumber}`
                                    th(scope='col' style='font-size: 15px;font-weight: lighter;')
                                        each add in user.address
                                            table.table(style="margin-bottom:0rem;")
                                                col(style='width:10%')
                                                tr
                                                th(scope='col' style='font-size: 15px;font-weight: lighter;border-bottom-width: 0;padding: 5px; border-top: 0px;') #{add.flat},#{add.city},#{add.state},#{add.pincode}
                    
                    br
    else 
        h2='No user'