extends base

block content 
    // Breadcrumb Section Begin
    .breacrumb-section(style='padding-top:100px;')
        .container(style='margin-top:0px;')
            .row
                .col-lg-12
                    .breadcrumb-text
                        a(href='/index')
                            i(class='fa fa-home' style='width:20px')
                            | Home
                        a(href='/')
                            i(class='icon_bag_alt' style='width:20px')
                            | Shop
    .container(style='')
        .row
            .col-lg-9.col-md-9(style="margin-top: 50px;")
                .product-list
                    .row
                        each product in products
                            .col-lg-4.col-md-6
                                .equal-column-content.text-center(style='padding:15px;margin:10px;height:0%;')
                                    div(class='product__item')
                                        .hover-product
                                            ul(class='product__hover')
                                                li
                                                    a.image-popup(href=`/img/products/${product.images[0]}`)
                                                    span(class='arrow_expand')
                                            a(href=`./product/${product.slug}`)
                                                img.img-fluid.image(style='cursor:pointer; width:262px; height:368px; float:left' href=`./product/${product.slug}` src=`/img/products/${product.imageCover}` )
                                        div(class='product__item__text')
                                            h6
                                                a(href=`./product/${product.slug}` style="font-weight:bold;")=product.name
                                            div(class='product__price')="₹ "+product.price
