extends base

block content 
    // Breadcrumb Section Begin
    .breacrumb-section(style='padding-top:100px;')
        .container(style='margin-top:0px;')
            .row
                .col-lg-12
                    .breadcrumb-text
                        a(href='/index')
                            i(class='fa fa-home' style='width:20px')
                            | Home
                        a(href='/')
                            i(class='icon_bag_alt' style='width:20px')
                            | Shop
    section.shop.spad
    .container
        .row
        .col-lg-3.col-md-3
            .shop__sidebar
            .sidebar__categories
                .section-title
                h4 Categories
                .categories__accordion
                #accordionExample.accordion
                    .card
                    .card-heading.active
                        a(data-toggle='collapse' data-target='#collapseOne') Women
                    #collapseOne.collapse.show(data-parent='#accordionExample')
                        .card-body
                        ul
                            li
                            a(href='/category/kurta') Kurtas
                            li
                            a(href='/category/Sets') Sets
                            li
                            a(href='/category/Tops') Tops
                            li
                            a(href='/category/Suits') JumpSuit
                            li
                            a(href='/category/Pallazos') Pallazos
                            li
                            a(href='/category/Jackets') Jackets

    .container(style='')
        .row
            .col-lg-9.col-md-9(style="margin-top: 50px;")
                .product-list
                    .row
                        each product in products
                            .col-lg-4.col-md-6
                                .equal-column-content.text-center(style='padding:15px;margin:10px;height:0%;')
                                    div(class='product__item')
                                        .hover-product
                                            ul(class='product__hover')
                                                li
                                                    a.image-popup(href=`/img/products/${product.color[0].imageCover}`)
                                                    span(class='arrow_expand')
                                            a(href=`./product/${product.color[0].slug}/${product.color[0]._id}`)
                                                img.img-fluid.image(style='cursor:pointer; width:262px; height:368px; float:left' href=`./product/${product.color[0].slug}` src=`/img/products/${product.color[0].imageCover}` )
                                        div(class='product__item__text')
                                            h6
                                                a(href=`./product/${product.slug}` style="font-weight:bold;")=product.color[0].name
                                            div(class='product__price')="₹ "+product.price
